[server]
base_url = "https://.website.com"
login_endpoint = "/login"
marks_endpoint = "/next/prubzna.aspx?s=chrono" # chronological view required

[path]
raw_marks = "./output/marks.json"
results = "./output/result.txt"
log = "./output/logs.log"