[server]
base_url = "https://website.com"
login_endpoint = "login"
after_login_endpoint = "dashboard"
marks_endpoint = "next/prubzna.aspx?s=chrono" # chronological view required

[path]
raw_marks = "./output/marks.json"
results = "./output/result.txt"
log = "./output/logs.log"
html_template = "./ui/template_index.html"
html_output = "./index.html"